/* MIXINS */
/* Spacing */
.height-xl {
  height: 720px;
}

.height-lg {
  height: 360px;
}

.height-md {
  height: 240px;
}

.height-sm {
  height: 180px;
}

.height-xs {
  height: 144px;
}

.height-xx {
  height: 72px;
}

.height-full {
  height: 100% !important;
  position: relative;
}

.padding-0 {
  padding: 0 !important;
}

.padding-xl {
  padding: 60px;
}

.padding-lg {
  padding: 30px;
}

.padding-md {
  padding: 15px;
}

.padding-sm {
  padding: 7.5px;
}

.padding-xs {
  padding: 3.75px;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-left-xl {
  padding-left: 60px;
}

.padding-left-lg {
  padding-left: 30px;
}

.padding-left-md {
  padding-left: 15px;
}

.padding-left-sm {
  padding-left: 7.5px;
}

.padding-left-xs {
  padding-left: 3.75px;
}

.padding-right-0 {
  padding-right: 0 !important;
}

.padding-right-xl {
  padding-right: 60px;
}

.padding-right-lg {
  padding-right: 30px;
}

.padding-right-md {
  padding-right: 15px;
}

.padding-right-sm {
  padding-right: 7.5px;
}

.padding-right-xs {
  padding-right: 3.75px;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-top-xl {
  padding-top: 60px;
}

.padding-top-lg {
  padding-top: 30px;
}

.padding-top-md {
  padding-top: 15px;
}

.padding-top-sm {
  padding-top: 7.5px;
}

.padding-top-xs {
  padding-top: 3.75px;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-bottom-xl {
  padding-bottom: 60px;
}

.padding-bottom-lg {
  padding-bottom: 30px;
}

.padding-bottom-md {
  padding-bottom: 15px;
}

.padding-bottom-sm {
  padding-bottom: 7.5px;
}

.padding-bottom-xs {
  padding-bottom: 3.75px;
}

.margin-0 {
  margin: 0 !important;
}

.margin-xs {
  margin: 3.75px;
}

.margin-sm {
  margin: 7.5px;
}

.margin-md {
  margin: 15px;
}

.margin-lg {
  margin: 30px;
}

.margin-xl {
  margin: 60px;
}

.margin-left-0 {
  margin-left: 0 !important;
}

.margin-left-xl {
  margin-left: 60px;
}

.margin-left-lg {
  margin-left: 30px;
}

.margin-left-md {
  margin-left: 15px;
}

.margin-left-sm {
  margin-left: 7.5px;
}

.margin-left-xs {
  margin-left: 3.75px;
}

.margin-right-0 {
  margin-right: 0 !important;
}

.margin-right-xl {
  margin-right: 60px;
}

.margin-right-lg {
  margin-right: 30px;
}

.margin-right-md {
  margin-right: 15px;
}

.margin-right-sm {
  margin-right: 7.5px;
}

.margin-right-xs {
  margin-right: 3.75px;
}

.margin-top-0 {
  margin-top: 0 !important;
}

.margin-top-xl {
  margin-top: 60px;
}

.margin-top-lg {
  margin-top: 30px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-sm {
  margin-top: 7.5px;
}

.margin-top-xs {
  margin-top: 3.75px;
}

.margin-bottom-0 {
  margin-bottom: 0 !important;
}

.margin-bottom-xl {
  margin-bottom: 60px;
}

.margin-bottom-lg {
  margin-bottom: 30px;
}

.margin-bottom-md {
  margin-bottom: 15px;
}

.margin-bottom-sm {
  margin-bottom: 7.5px;
}

.margin-bottom-xs {
  margin-bottom: 3.75px;
}

/* Globals */
* {
  font-family: sans-serif;
  color: inherit;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  color: inherit;
}

/* Colors */
/* Implementations of the mixins, which will be removed later */
/* Height */
.no-pad {
  padding: 0;
  margin: 0;
}

/* Misc */
.va-middle {
  vertical-align: middle;
}

ul.list-unpadded,
.list-unpadded:before,
.list-unpadded:after {
  padding-left: 15px !important;
}

.strong {
  font-weight: bold;
}

.pointer {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.material-icons {
  font-size: inherit;
  line-height: 1;
  display: inline-block;
}

.capitalize {
  text-transform: capitalize;
}

.step {
  padding: 10px 14px;
  background: #0078a3;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  float: right;
  display: inline;
}

.text-lg {
  font-size: 1.3em;
  line-height: 1em;
}

.list-unstyled-mod {
  list-style: none;
}

.breadcrumb {
  background-color: transparent !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.divider {
  margin: 7.5px 0;
  width: 100%;
  display: inline-block;
  border-top: #e6e6e6 solid 1px;
}

.divider-title {
  border-bottom: #cccccc solid 2px;
  width: 100%;
  margin-top: -13px;
  display: block;
}

.inline {
  display: inline;
}

.transparent {
  opacity: 0.4;
}

.transparent:hover {
  opacity: 1;
}

.position-fixed {
  position: fixed;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

/* Modified Bootstrap elements */
.inline-block {
  display: inline-block;
}

.modal {
  padding-top: 3%;
  overflow: auto;
}

.modal-backdrop {
  background-color: #fff;
}

.modal-backdrop.in {
  opacity: .97;
}

.modal-content {
  position: relative;
  background-color: transparent;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.progress {
  margin-bottom: 0;
}

.label {
  font-weight: 400;
}

ul {
  margin-right: 0 !important;
}

ul.list-inline {
  margin-left: 0;
}

ul li:last-child {
  padding-right: 0;
}

.overflow-hidden {
  overflow: hidden;
}

canvas {
  display: block;
}

.table td:first-child, .table th:first-child {
  padding-left: 15px !important;
}

.table td:last-child, .table th:last-child {
  padding-right: 15px !important;
}

.form-control {
  background: #e6e6e6 !important;
}

.form-control:hover, .form-control:focus, .form-control:visited {
  background: #fafafa !important;
}

/* Pace plugin */
.pace {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #1b9bf8;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/* Colors */
.text-white {
  color: #fff;
}

.text-white:hover {
  color: #fff;
}

.text-underline {
  padding-bottom: 2px;
  border-bottom: 1px solid;
}

.text-underline-white {
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.text-underline-white:hover {
  border-bottom-color: #fff;
}

.input-color {
  padding: 0 !important;
  background: none !important;
  border: none;
  outline: none;
  border-radius: 0;
  display: block;
  width: 100%;
  height: 34px;
  font-size: 14px;
  line-height: 1.42857143;
}

.input-color:before, .input-color:after {
  content: '';
  border: none;
  outline: none;
}

.selected {
  background-color: #fff;
  color: #00b96a;
}

.selected a {
  color: black !important;
}

/* Background */
.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #e6e6e6;
}

.bg-grey-light {
  background-color: #f2f2f2;
}

.bg-grey-lighter {
  background-color: #fafafa;
}

.bg-grey-dark {
  background-color: gray;
  color: #fff;
}

.bg-none {
  background: none !important;
  border: none !important;
}

.bg-transparent {
  background: transparent !important;
  border: transparent !important;
}

.bg-body {
  background-color: #f2f2f2;
}

tr.bg-none {
  background: none !important;
  border: none !important;
}

/* Custom Buttons styles */
.btn-hd {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-md {
  font-size: 18px;
  padding: 10px 15px;
}

.btn-xl {
  padding: 15px 21px;
  font-size: 30px;
  line-height: 1.3333333;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.btn-accent {
  background: orange;
  color: #fff;
}

.btn-accent:hover, .btn-accent:focus, .btn-accent:visited {
  background: #ffb733;
  color: #fff;
}

.btn-brand-primary {
  background: #ff8f00;
  color: #fff;
}

.btn-brand-primary:hover {
  color: #fff;
}

/* Borders */
.border {
  border: #cccccc solid 1px;
}

.border-none, .border-none * {
  border: none !important;
}

.border-top {
  border-top: #b3b3b3 solid 1px;
}

.border-top-light {
  border-top: #cccccc solid 1px;
}

.border-top-lighter {
  border-top: #e6e6e6 solid 1px;
}

.border-bottom {
  border-bottom: #b3b3b3 solid 1px;
}

.border-bottom-light {
  border-bottom: #cccccc solid 1px;
}

.border-bottom-lighter {
  border-bottom: #e6e6e6 solid 1px;
}

.border-left {
  border-left: #b3b3b3 solid 1px;
}

.border-left-light {
  border-left: #cccccc solid 1px;
}

.border-left-lighter {
  border-left: #e6e6e6 solid 1px;
}

.border-right {
  border-right: #b3b3b3 solid 1px;
}

.border-right-light {
  border-right: #cccccc solid 1px;
}

.border-right-lighter {
  border-right: #e6e6e6 solid 1px;
}

.border-light {
  border: #cccccc solid 1px;
}

.border-lighter {
  border: #e6e6e6 solid 1px;
}

.border-white {
  border-color: #fff;
}

.border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.border-2px {
  border-width: 2px;
}

.border-3px {
  border-width: 3px;
}

.border-5px {
  border-width: 5px;
}

.main-header-nav li {
  opacity: .5;
}

.main-header-nav li.active, .main-header-nav li:hover {
  opacity: 1;
}

.main-header-nav-count {
  font-size: 43px;
  line-height: 1em;
}

.main-header-nav-detail {
  font-size: 16px;
  line-height: 1em;
}

.content .title .headline {
  z-index: 1000;
  padding-right: 15px;
}

.content .rec-list a.item {
  width: 20%;
  display: inline-block;
  margin-right: -4px;
  /* fix. I do not know why this happened */
  padding: 15px;
  height: 260px;
  vertical-align: top;
}

.content .rec-list a.item .item-content {
  background: #fff;
  border-radius: 6px;
  border: #ccc solid 1px;
  padding: 15px;
  color: #2f6fad;
}

.content .rec-list a.item .item-content:hover {
  color: #996300;
}

.content .rec-list a.item .item-content.create {
  opacity: .4;
  height: 230px;
  color: #2F6FAD;
}

.content .rec-list a.item .item-content.create:hover {
  opacity: .7;
}

.content .rec-list a.item.active .item-content {
  background: #fafafa;
  height: 262px;
  border-width: 2px;
  border-bottom: transparent;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: #664200;
}

.content .rec-list a.item.active .item-content:hover {
  color: #996300;
}

.content .prev-list a.item {
  width: 20%;
  display: inline-block;
  margin-right: -4px;
  /* fix. I do not know why this happened */
  padding: 15px;
  max-height: 260px;
  vertical-align: top;
  color: #666;
}

.content .prev-list a.item .item-content {
  background: #fff;
  border-radius: 6px;
  border: #ccc solid 1px;
  padding: 15px;
}

.content .job-list a.item {
  width: 16.66667%;
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  margin-right: -4px;
}

.content .job-list a.item .item-content {
  background: #fff;
  border-radius: 6px;
  padding: 0 15px 0 15px;
  position: relative;
  color: #444;
}

.content .job-list a.item .item-content .person-gravator {
  margin-top: -20px;
}

.content .success-list a.item {
  width: 16.66667%;
  display: inline-block;
  padding: 15px;
  vertical-align: top;
  margin-right: -4px;
}

.content .success-list a.item .item-content {
  background: #fff;
  border-radius: 6px;
  border: #ccc solid 1px;
  padding: 15px 15px 0 15px;
  position: relative;
  color: #444;
}

.content .success-list a.item .item-content .person-gravator {
  margin-top: -20px;
}

.applicants {
  padding: 0;
}

.applicants .applicant {
  display: block;
  color: inherit;
  padding: 15px;
  border-bottom: #cccccc solid 1px;
}

.applicants .applicant .grav {
  display: inline-block;
}

.applicants .applicant .summary {
  display: inline-block;
}

.applicants .applicant.active {
  background: #ffe9cc;
}

.gravator-lg {
  width: 60px;
  height: 60px;
  margin-right: 7.5px;
  background: #cccccc;
  display: inline-block;
  vertical-align: top;
}

.gravator-lg img {
  width: 60px;
  height: 60px;
}

.gravator-pr {
  width: 60px;
  height: 60px;
  background: #cccccc;
  display: inline-block;
  vertical-align: top;
}

.gravator-pr img {
  width: 60px;
  height: 60px;
}

.gravator-sm {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin-right: 7.5px;
  background: #cccccc;
  vertical-align: top;
}

.gravator-sm img {
  width: 35px;
  height: 35px;
}

.gravator-details {
  display: inline-block;
  vertical-align: top;
}
